#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#525fe1, #f86f03);
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search {
  flex-basis: 8%;
}

.search input {
  background: #fff6f4;

  height: 80%;
  width: 80%;

  font-size: 32px;
  text-indent: 5%;

  border-radius: 1000px;
}

.result {
  flex-basis: 80%;

  height: 80%;
  width: 80%;

  margin: auto;

  background: #fff6f4;

  font-size: 32px;
}